[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scylla-driver = "*"
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
gunicorn = "*"
faker = "*"
fastapi-pagination = "*"
pydantic-settings = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.17"
